.hero-text {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 121.7%;
    width: 60%;
    color: white;
}

.downloads > *:not(:last-child) {
    
    margin-right: 32px;

}

.hero-section-content{
    position: absolute;
    bottom: 60px;
    left: 90px;
}

.hero-section{
    background-image: url(../../Assets/Images/bg.png);
    background-size: cover;
    width: 96%;
    border-radius: 12px;
    height: 100%;
    /* overflow: hidden; */
}

.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 89vh;
}

.aboutUs{
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.aboutUs > img{
    margin-left: 32px;
}

.aboutUs-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 32px;
}

.aboutUs-content > div{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.aboutUs-content > div > p:nth-child(1){

    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height */
    
    
    /* red gradient */
    
    background: linear-gradient(90deg, #D31027 0%, #EA384D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.aboutUs-content > div > p:nth-child(2){
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

/* Black */

color: #585858;
}


/*Footer*/
body{
	line-height: 1.5;
}
*{
	margin:0;
	padding:0; 
 	box-sizing: border-box;
}
.footer{
    width: 100% !important;
    margin-top: 5%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 50px;
    width: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
