.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    height: 8vh;
    margin-bottom: 10px;

}

.logo {

    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 70px;
    color: #EA384D;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items>*:not(:last-child) {
    margin-right: 18px;
}

.nav-items>* {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #EA384D;
}