body{
    background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 100px;
    top: 15%;
}

.des{
    margin-bottom: 15%;
}

.input-container input{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    top: 40%;
}    

.form-comp{
    position: absolute;
    left: 100px;
}

a{
    color: #1D976C
}

.btn-primary{
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #1D976C 0%, #93F9B9 100%);
    border-radius: 4px;
    border: none;
}

.lg-img{
    position: absolute;
    left: 750px;
    top: 20px;
}

.terms{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0 5% 0;
}

span{
    color: red;
}
