:root{

  --black : #585858;
  --secondary-green : #1D976C;
  --secondary-red : #CA706A;
  --primary-green : #93F9B9;
  --primary-red : #EA384D;
  --green-gardient : linear-gradient(90deg, #1D976C 0%, #93F9B9 100%);
  --red-gradient : linear-gradient(90deg, #D31027 0%, #EA384D 100%);
  --primary-font : 'Mukta', sans-serif;

}

.body{
  color: var(--black);
  font-family: var(--primary-font) ;
}

.border{
  border: 2px solid black;
}