.App {
background-color: white;
}

.Auth-form-title{
    position: absolute;
    width: 86px;
    height: 58px;
    left: 100px;
    top: 112px;

    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    color: #000000;
}

.Auth-form-container {
    display: flex;
    position: absolute;
    width: 329px;
    height: 510px;
    left: 100px;
    top: 210px;
}

.Auth-form-content {
padding-left: 12%;
padding-right: 12%;
}

